.projectDescription {
    color: black;
    font-size: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.container {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2, 1fr);
}
.oddContainer {
    background-color: rgb(245, 211, 201);
    padding: 20px;
    border-radius: 5px;
    line-height: 18px;
    box-shadow: 0px 2px 20px 0px rgba(211, 210, 210, 0.8);
}

.evenContainer {
    background-color: rgb(206, 229, 236);
    padding: 20px;
    border-radius: 5px;
    line-height: 18px;
    box-shadow: 0px 2px 20px 0px rgba(211, 210, 210, 0.8);
}
.link {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: end;
    margin-top: auto;
}
.link:hover {
    cursor: pointer;
    text-decoration: underline;
}
.header {
    color: rgb(42, 41, 41);
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.mainContainer {
    padding: 20px;
    background-color: white;
}