.headingContainer {
    display: flex;
    gap: 20px;
}

.about {
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.line {
    margin-top: auto;
    margin-bottom: auto;
    width: 30%;
    height: 2px;
    background-color: rgb(13, 147, 147);
    border-radius: 2px;
}

.mainContainer {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

.educationContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: start;
}

.topContainer {
    padding-top: 20px;
    display: flex;
    gap: 10px;
}

.subContainer {
    display: flex;
    gap: 10px;
}

.year {
    color: rgb(119, 118, 118);
    font-size: 12px;
}

.oddCardContainer {
    background-color: rgb(249, 237, 249);
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.cardContent {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.cardSubContent {
    font-size: 12px;
}

.evenCardContainer {
    background-color: rgb(222, 237, 249);
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.icon {
    color: rgb(52, 92, 141);
}

.image {
    width: 90px;
    height: 90px;
    border-radius: 10px;
}

.languagesContainer {
    background-color: #B9D9EB;
    border-radius: 8px;
    padding: 20px;
    margin-top: 10px;
}

.technologiesContainer {
    background-color: #B0C4DE;
    border-radius: 8px;
    padding: 20px;
    margin-top: 10px;
}

.uiLibrariesContainer {
    background-color: #AFDBF5;
    border-radius: 8px;
    padding: 20px;
    margin-top: 10px;
}

.tatContainer {
    background-color: #E1EBEE;
    border-radius: 8px;
    padding: 20px;
    margin-top: 10px;
}

.container {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 20px;
}

.imageContainer {
    text-align: center;
    background-color: #F0F8FF;
    border-radius: 9px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.skillsMainContainer {
    background-color: #F0F8FF;
    padding: 20px;
}

.skillHeadings {
    font-size: 18px;
    font-weight: 400;
}

.skillName {
    font-size: 14px;
}

.skillHeader {
    font-size: 20px;
    font-weight: 600;
}
@media only screen and (max-width: 480px) {
    .image {
        width: 30px;
        height: 30px;
        border-radius: 5px;
    }
    .skillName {
        font-size: 10px;
    }
    .skillHeader {
        font-size: 16px;
    }
    .skillHeadings {
        font-size: 14px;
    }
    .cardSubContent {
        font-size: 10px;
    }
    .about {
        font-size: 20px;
    }
    .cardContent {
        font-size: 12px;
    }
 }