.leftCardContainer {
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(251, 251, 251);
}
.nameContainer {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.name {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.roleContainer {
    margin-top: 10px;
    background-color: rgb(244, 243, 243);
    padding: 10px;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 12px;
}
.downloadButton {
    background-color: rgb(46, 113, 248);
    border-radius: 5px;
    color: #fff;
    border-width: 0px;
    cursor: pointer;
    padding: 10px;
}
.buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.iconText {
    display: flex;
    flex-direction: row;
    gap: 7px;
    justify-content: center;
    align-items: center;
}